@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// colors
$primary-color-dark: #2e3442;
$secondary-color-dark: #12161f;
$white-color-dark: #fefefe;

// fonts
$font-titles: 'Inter', sans-serif;
$font-subtitles: 'Inter', sans-serif;
